<launch>
	<arg name="v" default="0.3"/>

	<node 	
		pkg="turtlesim"
		type="turtlesim_node"
		name="simulador">
	</node>
	<node	
		pkg="rostopic" 
		type="rostopic" 
		name="velocidade"
		args="pub /turtle1/cmd_vel geometry_msgs/Twist -r 1 -- '[0.3, 0.0, 0.0]' '[0.0, 0.0, 0.0]'">
	</node>
</launch>
